<link rel="stylesheet" href="styles/mockup.css"/>
<link rel="stylesheet" href="components/font-awesome/css/font-awesome.css">

<div class="pull-left header-image hidden-phone">
    <img src="http://lorempixel.com/output/abstract-q-g-350-150-10.jpg">
</div>

<ul class="nav nav-pills nav-main">
    <li><a href="#!/mockup/index">Доставка</a></li>
    <li class="active"><a href="#!/mockup/about">Кафе-бар</a></li>
    <li class="visible-phone"><a href="#!/mockup/order">Ваш заказ (4)</a></li>
</ul>

<hr>

<div class="hero-unit">
    <h1>Кафе-бар &laquo;Барбудос&raquo;</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget posuere elit. Nam non
        tortor velit, vel vehicula nulla.</p>
</div>

<hr>

<div class="about-images">
    <div class="about-images-inner row">
        <div class="span3">
            <img src="http://lorempixel.com/output/nightlife-q-g-220-220-1.jpg" class="img-circle">
        </div>
        <div class="span3">
            <img src="http://lorempixel.com/output/nightlife-q-g-220-220-6.jpg" class="img-circle">
        </div>
        <div class="span3">
            <img src="http://lorempixel.com/output/nightlife-q-g-220-220-7.jpg" class="img-circle">
        </div>
        <div class="span3">
            <img src="http://lorempixel.com/output/nightlife-q-g-220-220-9.jpg" class="img-circle">
        </div>
    </div>
</div>

<hr>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget posuere elit. Nam non tortor velit, vel vehicula
    nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget posuere elit. Nam non tortor velit, vel
    vehicula nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget posuere elit. Nam non tortor
    velit, vel vehicula nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget posuere elit. Nam non
    tortor velit, vel vehicula nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget posuere elit.
    Nam non tortor velit, vel vehicula nulla.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget
    posuere elit. Nam non tortor velit, vel vehicula nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
    eget posuere elit. Nam non tortor velit, vel vehicula nulla.</p>

<p>Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Sed eget posuere elit. Nam non tortor velit, vel vehicula nulla. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Sed eget posuere elit. Nam non tortor velit, vel vehicula nulla. Lorem ipsum dolor sit
    amet, consectetur adipiscing elit. Sed eget posuere elit. Nam non tortor velit, vel vehicula nulla. Lorem ipsum
    dolor sit amet, consectetur adipiscing elit. Sed eget posuere elit. Nam non tortor velit, vel vehicula nulla. Lorem
    ipsum dolor sit amet, consectetur adipiscing elit. Sed eget posuere elit. Nam non tortor velit, vel vehicula
    nulla.</p>

<hr>

<h2>Расположение</h2>

<div class="row">
    <div class="span8">
        <div id="map" style="height: 300px"></div>
    </div>
    <div class="span4">
        <p>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Sed eget posuere elit. Nam non tortor velit, vel vehicula nulla. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Sed eget posuere elit. Nam non tortor velit, vel vehicula nulla. Lorem ipsum dolor sit
            amet, consectetur adipiscing elit. Sed eget posuere elit. Nam non tortor velit, vel vehicula nulla. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Sed eget posuere elit. Nam non tortor velit, vel vehicula nulla. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Sed eget posuere elit. Nam non tortor velit, vel vehicula
            nulla.</p>
    </div>
</div>

<hr>

<h2>Меню в ресторане</h2>

<ul class="nav nav-pills">
    <li><a href="#!/mockup/about">Первое</a></li>
    <li class="active"><a href="#!/mockup/about">Второе</a></li>
    <li><a href="#!/mockup/about">Третье</a></li>
    <li><a href="#!/mockup/about">Десерт</a></li>
    <li><a href="#!/mockup/about">Компот</a></li>
</ul>

<table class="table table-hover">
    <tr ng-repeat="i in [0,0,0,0,0,0,0,0,0,0,0,0]">
        <th>Мясо</th>
        <td class="hidden-phone">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget
            posuere elit. Nam non tortor velit, vel vehicula nulla. Sed eget
            posuere elit. Nam non tortor velit, vel vehicula nulla. Sed eget
            posuere elit. Nam non tortor velit, vel vehicula nulla.</td>
        <td class="hidden-phone"><nobr>200/100/10 г.</nobr></td>
        <td><nobr>200 руб.</nobr></td>
    </tr>
</table>

<hr>

<p>Подвал</p>
