.header-layout
  a.logo.logo-center(href="#!/") Кафе-бар &laquo;Барбудос&raquo;

  hr.header-layout-divider

.cart-layout
  a.menu-link(href="#!/") Меню

  .about
    h1.about-title О баре

    .about-photos
      .about-photos-row
        img.about-photos-row-image(src="/images/about/photo0.png")
        img.about-photos-row-image(src="/images/about/photo1.png")
        img.about-photos-row-image(src="/images/about/photo2.png")

    .about-content
      .about-content-description
        p Добро пожаловать на&nbsp;остров свободы&nbsp;– бар&nbsp;«Барбудос»!

        p 
          | «Barbudos»&nbsp;— что&nbsp;в&nbsp;переводе бородачи, цвет революции Кубы… Фидель
          | и&nbsp;Че&nbsp;Гевара.

        p
          | Здесь вы можете встретиться с&nbsp;друзьями и&nbsp;в&nbsp;непринужденной,
          | демократичной обстановке выпить холодный мохито или
          | горячительный ром. Кухня порадует вас изобилием кубинской,
          | латиноамериканской, а&nbsp;так&nbsp;же&nbsp;европейской культуры.
          | Мы&nbsp;рады предложить Вам классический Буррито, Чимичангас, Кесадильяс
          | с&nbsp;любыми начинками и, конечно&nbsp;же, шипящий Фахитас. Будь вы
          | новичок в&nbsp;кубинской или мексиканской еде или опытный ветеран
          | de&nbsp;la&nbsp;Comida&nbsp;Latino, мы&nbsp;уверены, что Вы найдете
          | блюда, которые обязательно полюбите!

      .about-content-address
        h2.about-content-address-title Наш адрес

        p Большая Татарская улица, дом 24
        p Москва, Россия

    .about-map(data-map, data-lat="55.739868", data-lon="37.632844", data-zoom="16")
