include header

.cart-layout
  p.rolled-cart(data-ng-show="cart.count() > 0 && !user.isAuthenticated()")
    | {{ cart.count() }} блюд на {{ cart.price() }} руб.
    a.rolled-cart-button.rolled-cart-button-cart(href="#!/cart") Корзина

  p.rolled-cart(data-ng-show="cart.count() == 0 && !user.isAuthenticated()")
    | Что закажете?

  p.rolled-cart(data-ng-show="user.isAuthenticated()")
    a.rolled-cart-button.rolled-cart-button-preview(ng-click="edit = false", ng-show="edit")
      | Предпросмотр

    a.rolled-cart-button.rolled-cart-button-preview(ng-click="edit = true", ng-show="!edit")
      | Редактирование

    a.rolled-cart-button.rolled-cart-button-save(ng-show="dishesForSave.length > 0", ng-click="saveAll()")
      | Сохранить новые позиции

  hr.cart-layout-divider

.dishes.dishes-category
  ng-switch(on="user.isAuthenticated() && !!edit")
    .dishes-row(data-dishes, data-ng-switch-when="false")
      .dishes-item(dish, data-ng-repeat="dish in dishes | filter:category | orderBy:buyableOrder", ng-class="appliedClasses()")
        p.dishes-item-badge(data-ng-show="dish.buyable") Доступно для заказа

        picture.dishes-item-picture
          img.dishes-item-picture-image(data-ng-src="{{ dish.preview }}")

        h2.dishes-item-title {{ dish.name }}
        p.dishes-item-description {{ dish.description }}

        hr.dishes-item-divider
        p.dishes-item-price {{ dish.price }} руб.
        p.dishes-item-size <strong>{{ dish.size }} {{ dish.sizeUnit }}.</strong> в порции

        form.dishes-item-form(data-ng-show="dish.buyable")
          hr.dishes-item-divider
          div(data-amount)
            .amount()
              button.button.button-ok.amount-decrease(data-ng-click="decrease()") &#x25c0;
              input.amount-input(data-ng-model="amount")
              button.button.button-ok.amount-increase(data-ng-click="increase()") &#x25b6;
              | &nbsp;=&nbsp;{{ amountPrice }} руб.
            button.button.button-ok(type="submit", data-ng-click="add()") В корзину


    .dishes-row(data-dishes, data-ng-switch-when="true")
      .dishes-item.dishes-item-edit(dish, ng-class="appliedClasses()", data-ng-repeat="dish in dishes | filter:category")
        label.dishes-item-badge
          input.dish-item-badge-checkbox(type="checkbox", ng-checked="dish.buyable", dish-autosave="buyable")
          | Доступно для заказа

        picture.dishes-item-picture
          img.dishes-item-picture-image(data-ng-src="{{ dish.preview }}", data-fileupload, data-ng-click="add()")

        h2.dishes-item-title(data-editable, dish-autosave="name") {{ dish.name }}
        p.dishes-item-description(data-editable, dish-autosave="description") {{ dish.description }}

        hr.dishes-item-divider
        p.dishes-item-price
          span(data-editable, data-numerable, dish-autosave="price") {{ dish.price }} 
          span руб.
        p.dishes-item-size
          span(data-editable, data-numerable, dish-autosave="size") {{ dish.size }}
          select.dishes-item-size-unit(dish-autosave="sizeUnit")
            option(data-ng-repeat="sizeUnit in ['гр', 'мл', 'шт']", value="{{ sizeUnit }}", data-ng-selected="sizeUnit == dish.sizeUnit") {{ sizeUnit }}

      .dishes-item.dishes-item-add(data-dishes-item, ng-click="add()")
        p.dishes-item-add-text Добавить блюдо
