.footer-layout
  hr.footer-layout-divider

  .footer-layout-container
    .footer-copyright &#169; 2013 Barbudos

    .footer-development
      span.footer-development-text Разработка &#8212; 
      a.footer-development-link(href="http://www.rithis.com")
        img(src="/images/rithis-logo.png")
    