.header-layout
    a.logo.logo-left(href="#!/") Кафе-бар &laquo;Барбудос&raquo;
                
    h1.title Меню
                
    nav.categories-list(ng-controller="CategoriesCtrl")
        a.button.button-ok.categories-list-item(data-ng-repeat="category in categories", data-ng-click="setActive(category._id)", class="{{ category._id == active && 'categories-list-item-current' }}") {{ category.name }}

    a.about-link(href="#!/about") О баре
                
    hr.header-layout-divider