.login-layout

  .login-layout-container
    .login-logo
      a(href="/")
        img(src="/images/logo.png")
  
    .login-welcome
      Вход
  
    form.login-form(name="auth")
      p.login-invalid-message(data-notify) Логин или пароль введены неверно
  
      .login-fields
        div
          label(for="username") Ваш логин
          input(name="username", id="username", data-ng-model="user.username", class="{{ invalid && 'login-fields-invalid' }}")
        div
          label(for="password") Пароль
          input(name="password", id="password", type="password", data-ng-model="user.password", class="{{ invalid && 'login-fields-invalid' }}")
  
      .login-submit
        button(type="submit", class="button button-ok", data-ng-click="submit()") Войти

  hr.login-layout-divider

.footer-divider
