.login-layout

  .login-layout-container
    .login-logo
      img(src="/images/login-logo.png")
  
    .login-welcome
      Вход
  
    form.login-form(name="auth")
      p(ng-show="invalid") Логин или пароль введены неверно
  
      .login-fields
        div
          label(for="username") Ваш логин
          input(name="username", id="username", data-ng-model="user.username")
        div
          label(for="password") Пароль
          input(name="password", id="password", type="password", data-ng-model="user.password")
  
      .login-submit
        button(type="submit", class="button button-ok", data-ng-click="submit()") Войти

  hr.login-layout-divider