<h1>Меню</h1>

<hr>

<ul class="thumbnails">
    <li class="span6" ng-repeat="dish in dishes">
        <div class="well">
            <h2>{{ dish.name }}</h2>
            <p>{{ dish.description }}</p>
            <p>{{ dish.price }} руб.</p>
        </div>
    </li>
</ul>

<div class="well">
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="dish-name">Название</label>
            <div class="controls">
                <input type="text" id="dish-name" class="input-xxlarge" ng-model="dish.name" required>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="dish-price">Стоимость</label>
            <div class="controls">
                <input type="number" id="dish-price" class="input-xxlarge" ng-model="dish.price" required>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="dish-description">Описание</label>
            <div class="controls">
                <textarea id="dish-description" class="input-xxlarge" ng-model="dish.description" required></textarea>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary" ng-click="submit(dish)">Добавить</button>
            </div>
        </div>
    </form>
</div>

