doctype 5
html(lang="ru")
  head
    title Кафе-бар &laquo;Барбудос&raquo;
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=PT+Serif+Caption:400&subset=latin,cyrillic")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700&subset=latin,cyrillic")
    link(rel="stylesheet", href="/components/normalize-css/normalize.css")
    link(rel="stylesheet", href="/components/jquery-ui/themes/base/jquery.ui.base.css")
    link(rel="stylesheet", href="/components/jquery-ui/themes/base/jquery.ui.theme.css")
    link(rel="stylesheet", href="/components/jquery-ui/themes/base/jquery.ui.datepicker.css")
    link(rel="stylesheet", href="/components/select2/select2.css")
    link(rel="stylesheet", href="/styles/index.css")
    script(src="/components/modernizr/modernizr.js")
  body(data-ng-app="barbudosApp")

    .container(data-ng-view)
    include views/footer

    script(src="/components/jquery/jquery.min.js")
    script(src="/components/jquery-ui/ui/jquery.ui.widget.js")
    script(src="/components/jquery-ui/ui/jquery.ui.core.js")
    script(src="/components/jquery-ui/ui/jquery.ui.datepicker.js")
    script(src="/components/jquery-ui/ui/i18n/jquery.ui.datepicker-ru.js")
    script(src="/components/jquery-file-upload/js/jquery.iframe-transport.js")
    script(src="/components/jquery-file-upload/js/jquery.fileupload.js")
    script(src="/components/ftscroller/lib/ftscroller.js")
    script(src="/components/select2/select2.js")
    script(src="//api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU")

    script(src="/components/angular/angular.min.js")
    script(src="/components/angular-resource/angular-resource.min.js")
    script(src="/components/angular-cookies/angular-cookies.min.js")

    script(src="/scripts/libraries.js")
    script(src="/scripts/directives/login.js")
    script(src="/scripts/directives/dishes.js")
    script(src="/scripts/directives/orders.js")

    script(src="/scripts/app.js")
    script(src="/scripts/services.js")
    script(src="/scripts/controllers/cart.js")
    script(src="/scripts/controllers/dishes.js")
    script(src="/scripts/controllers/categories.js")
    script(src="/scripts/controllers/orders.js")
    script(src="/scripts/controllers/login.js")
