!!!
html(lang="ru")
  head
    title Кафе-бар &laquo;Барбудос&raquo;
    meta(charset="utf-8")
    meta(name="description", content="Кафе-бар &laquo;Барбудос&raquo;. Латиноамериканская и европейская кухня. Лучшее место для проведения вечеринок, дружеских застолий, банкетов и корпоративов.")
    meta(name="viewport", content="width=device-width")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    link(rel="stylesheet", href="components/bootstrap/docs/assets/css/bootstrap.css")

  body(data-ng-app="barbudosApp")
  
    //if lt IE 9
      script(src="components/es5-shim/es5-shim.min.js")
      script(src="components/json3/lib/json3.min.js")

    .container(data-ng-view)

    script(src="components/angular/angular.min.js")
    script(src="components/angular-resource/angular-resource.min.js")
    script(src="components/angular-cookies/angular-cookies.min.js")

    script(src="scripts/app.js")
    script(src="scripts/services.js")
    script(src="scripts/controllers/cart.js")
    script(src="scripts/controllers/dishes.js")