.amount
    display inline-block
    line-height 30px

    .amount-decrease, .amount-increase
        float left
        display block
        width auto
        margin 0
        padding 10px 6px
        line-height 10px
        font-size 10px

    .amount-decrease
        border-radius 6px 0 0 6px

    .amount-increase
        border-radius 0 6px 6px 0

    .amount-input
        float left
        display block
        width 40px
        height 30px
        padding 0
        border-top 1px solid rgba(0, 0, 0, .5)
        border-bottom 1px solid rgba(0, 0, 0, .5)
        border-radius 0
        text-align center
        font-weight bold
