.button
  display block
  width 100%
  margin 15px 0 10px
  border-radius 6px
  text-decoration none

  &.button-ok
    padding 10px 0
    border 1px solid #5b7128
    background-color #5eba12
    background-image linear-gradient(top, #b3cc60, #80ae23)
    box-shadow inset 0 1px 0 0 #d2e789
    text-shadow 0 1px 0 rgba(0, 0, 0, .5)
    sans-serif 18px
    font-weight bold
    color white

    &:hover
      border-color #759523
      background-color #a5d034
      background-image linear-gradient(top, #c5e364, #85bd04)
      box-shadow inset 0 2px 0 0 #d2e789

  &.button-cancel
    padding 3px 0 5px
    border 1px solid #e3e3e3
    background-color #f4f4f4
    background-image linear-gradient(top, #f0f0f0, white 3%, #e8e8e8)
    box-shadow inset 0 1px 0 0 white
    serif 16px
    color #d6292c

    &:hover
      border-color #d6292c
      background none
