cart-form-children(topMargin, bottomMargin = topMargin)
  width 200px
  margin topMargin auto bottomMargin

.cart-form
  responsive display table-cell same block
  responsive width 200px same 300px
  margin 0 auto
  responsive padding, 0 25px, same, 0
  vertical-align top

  .cart-form-divider
    responsive display none same block
    width 300px
    margin 10px 0 5px
    svg "cart-form-divider"
    divider "cart-form-divider", false

  .cart-form-total
    serif 22px
    cart-form-children 0

  .cart-form-total-divider
    responsive display block same none
    svg "cart-form-total-divider"
    cart-form-children 10px
    divider "cart-form-total-divider", false

  .cart-form-label
    cart-form-children 15px 5px

  .cart-form-address
    cart-form-children 0

  .cart-form-phone
    cart-form-children 0

  .cart-form-submit
    cart-form-children 30px
