.dishes
  overflow auto
  -webkit-overflow-scrolling touch

  .dishes-row
    clearfix()

  .dishes-item
    position relative
    float left
    width 240px
    margin 8px
    padding-bottom 15px
    background white
    box-shadow 0 3px 10px 0 rgba(0, 0, 0, .6)
    text-shadow none
    color black

    .dishes-item-delete
      position absolute
      top -3px
      left -3px
      cursor pointer

    .dishes-item-badge
      height 20px
      margin 0 0 -20px 0
      image "green-background"
      text-align center
      sans-serif 16px
      font-style italic
      color white

      .dish-item-badge-checkbox
        display inline-block
        margin-right 10px

    .dishes-item-picture
      position relative
      margin 0px
      display block
      
      .dishes-item-picture-image
        display block
        width 200px
        height 200px
        margin 20px 20px 10px
        outline 1px solid #a8a8a8

      .dishes-item-picture-add
        image "dish-preview-editable"
        background-repeat no-repeat
        background-position 50% 75px
        text-align center
        color #92AB37
        cursor pointer

        .dishes-item-picture-add-text
          padding-top 125px

      .dishes-item-picture-editable
        position absolute
        right 20px
        padding 13px
        image "dish-editable-hover"
        background-color #a3b54f
        background-repeat no-repeat
        background-position 50%
        z-index 2

      .dishes-item-picture-hover
        position absolute
        z-index 1
        display none
        margin 0px 0px 0px 20px
        image "dish-preview-editable"
        background-color rgba(163, 181, 79, 0.7)
        background-repeat no-repeat
        background-position 50% 75px
        text-align center
        color #fff
        cursor pointer

        .dishes-item-picture-add-text
          padding-top 125px

      &:hover
        .dishes-item-picture-hover
          display block

        .dishes-item-picture-editable
          background-color transparent
          

    .dishes-item-title
      padding 0px 20px
      margin 0px
      font-size 18px
      font-family "PT Serif Caption", serif
      font-weight normal

    .dishes-item-description
      height 60px
      padding 0px 20px
      margin 5px 0px 15px 0px
      sans-serif 16px
      color #7c7c7c

    .dishes-item-divider
      width 200px
      margin 5px auto
      svg "dishes-item-divider"
      divider "dishes-item-divider", false

    .dishes-item-price
      margin 5px 0 3px
      text-align center
      font-family "PT Serif Caption", serif
      font-size 24px

    .dishes-item-size
      margin 3px 0 10px
      text-align center
      sans-serif 16px
      font-style italic
      color #7c7c7c

      &.dishes-item-editable
        text-align left
        &:hover
          background #ffff

          &:after
            image "dish-editable"

          .dishes-item-size-item
            background #a3b54f

      strong
        font-weight normal
        color black

      .dishes-item-size-item
        display inline-block
        width 125px
        padding 0px 10px
        text-align right

      .dishes-item-size-unit
        margin-right 10px

        .select2-container
          width 60px
          margin-left 8px
  
          .select2-choice
            height 18px
            background none
            box-shadow inset 0px 1px 3px rgba(0, 0, 0, 0.5)
  
            span
              line-height 18px
  
            div
              border-left 1px solid #7F8F31
              background-image linear-gradient(top, #BAC56A, #8EA635)
  
              b
                width 0
                height 0
                border-left 4px solid transparent
                border-right 4px solid transparent
                border-top 6px solid #fff
                margin 6px 0px 0px 5px

    .dishes-item-form
      width 200px
      margin 0 auto
      serif 18px

      .dishes-item-divider
        margin-bottom 25px

      .dishes-item-form-amount
        display inline-block
        width 60px
        height 30px

    .dishes-item-editable
      &:after
        content ""
        position absolute
        right 3px
        margin-top 3px
        width 15px
        height 15px
        image "dish-editable"
        background-repeat no-repeat

      &:hover
        background #a3b54f
        color #fff

        &:after
          image "dish-editable-hover"

    &.dishes-item-add
      width 236px !important
      height 396px !important
      border 2px dashed white
      image "add-new"
      background-color transparent
      background-repeat no-repeat
      background-position 50% 150px
      box-shadow none
      text-align center
      serif 18px
      color white
      cursor pointer

      .dishes-item-add-text
        margin-top 250px

  &.dishes-category
    .no-touch & .dishes-item
      height 400px

      .dishes-item-form
        display none

      &.dishes-item-edit
        .dishes-item-form
          display block

          .dishes-item-divider
            margin-bottom 10px

      &.dishes-item-buyable
        &:hover
          .dishes-item-picture
            height 87px
            overflow hidden
            border-bottom 1px solid #a8a8a8
            box-shadow inset 0 -30px 30px -30px #b5b5b5
        
          .dishes-item-form
            display block

        &.dishes-item-edit
          &:hover
            .dishes-item-picture
              height 225px
              border-bottom none
            box-shadow none

  &.dishes-cart
    responsive display table-cell same block
