.filter-layout
  text-align center
  overflow hidden
  image "taupe-background"
  text-shadow 0 2px 0px #4a4a4a
  sans-serif 18px
  color white

  .rolled-filter
    padding 10px 0px

    input
      background #d4d4d4
      box-shadow none
      display inline-block
      border-radius 6px 0px 0px 6px
  
    .filter-layout-picker
      position relative
      top -1px
      display inline
      padding 4px 10px
      border-radius 0px 6px 6px 0px

    .filter-divider
      display none
      text-shadow none
      color #4a4a4a

  .filter-layout-divider
    divider "taupe-to-gray"

@media all and (max-width: 640px)
  .filter-layout
    .rolled-filter
      span
        display none

      .filter-divider
        display inline

      input
        width 130px
