.footer-layout
  position relative
  width 100%
  overflow hidden
  image "taupe-background"

  responsive height, 80px,
            same,
            160px

  responsive margin-top, -80px,
            same,
            -160px

  .footer-layout-divider
    divider "gray-to-taupe"

  .footer-layout-container
    font-size 16px
    color white

    responsive padding, 15px 90px,
              same,
              15px 20px

    clearfix()

    .footer-copyright
      float left
      line-height 44px

    .footer-development
      float right

      .footer-development-text
        line-height 44px
        vertical-align top

.footer-divider
  responsive padding-bottom, 100px,
            same,
            180px

@media all and (max-width: 640px)
  .footer-layout
    .footer-layout-container
      .footer-development-text
        display none

