.header-layout
  overflow hidden
  image "green-background"

  .multiplebgs &
    background url("/images/green-background-light.png") center no-repeat,
               url("/images/green-background.png")

  @media all and (-webkit-min-device-pixel-ratio: 1.5)
    .multiplebgs.backgroundsize &
      background-image url("/images/green-background-light@2x.png"),
                       url("/images/green-background@2x.png")
      background-size 688px 174px,
                      170px 170px

  .header-layout-divider
    divider "green-to-red-wave"

  .header-orders-link
    position absolute
    top 58px
    right 33%
    text-shadow 0 1px 0 rgba(0,0,0,0.5)
    color #fff

  @media all and (max-width: 1024px)
    .header-orders-link
      right 25%

  @media all and (max-width: 768px)
    .header-orders-link
      right 180px
    
