.login-backdrop
  position absolute
  top: 0px
  left: 0px

  width 100%
  height 100%

  background rgba(0, 0, 0, 0.5)

.login-modal
  position absolute
  top 150px
  left 50%
  
  width 600px

  margin-left -300px
  padding 30px 30px 20px 30px

  background url("/images/green-background.png")
  box-shadow 0px 10px 40px rgba(0,0,0, 0.7)

  .login-title
    span
      float right

      padding-top 5px
      padding-right 30px

      text-shadow 0 1px 1px rgba(0,0,0,0.5)
      font 36px "PT Serif Caption", serif
      font-weight normal
      color #fff

  .login-form
    margin-top 20px

    .login-fields
      clearfix()

      div
        width 47%

        &:first-child
          float left

        &:last-child
          float right

        input
          width 100%
          margin-top 10px
          border-radius 0px
          line-height 36px
        
    
    .login-submit
      float right
      margin-top 10px

      button
        width 150px
