.logo
  display block
  responsive width 171px same 101px
  responsive height 106px same 62px
  responsive image "logo" same "logo-phone"
  hide-text()

  &.logo-left
    position absolute
    responsive top 30px same 10px
    left 10px

  &.logo-center
    margin 20px auto 25px
