.menu-link
    phone position absolute
    phone top 15px
    float left
    display block
    responsive margin-top 10px same 0
    margin-left 10px
    phone text-shadow none
    serif 16px
    phone font-size 14px
    color white

    &:before
        content "← "
        phone content none
