@import "./../components/semantic-grid/stylesheets/styl/grid"

.orders
  color #4A4A4A
  responsive margin, 30px 75px 20px 75px,
            20px 45px 20px 45px,
            20px 15px 10px 15px

  .orders-item
    border-bottom 1px solid #9b9b9b
    position relative
    clearfix()

    .order-item-id
      column(1)

    .order-item-phone
      column(2)
  
    .order-item-address
      column(3)

    .order-item-positions
      column(5)

    .order-item-price
      column(1)

      .button
        padding 4px 0px
  
    .order-item-cell
      padding 30px 30px 20px 0px
      margin-left 0px

      responsive word-wrap, break-word,
                same,
                normal
  
      &:first-child:before
        content ""
        width 5px
        height 5px
        background #9b9b9b
        border-radius 2px
        position absolute
        bottom -3px
  
      &:last-child:after
        content ""
        width 5px
        height 5px
        background #9b9b9b
        border-radius 2px
        position absolute
        bottom -3px
        right 0px

    &:last-child
      border-bottom none

      .order-item-cell
        &:first-child:before
          display none

        &:last-child:after
          display none

    .order-item-black-text
        color #000

.order-header-layout-divider
  divider "green-to-taupe"
