.rolled-cart
  margin 10px 0
  padding 0 8px
  responsive text-align center same left
  clearfix()

  .rolled-cart-button
    phone float right
    display inline-block
    margin-left 30px
    responsive padding, 3px 12px, same, 2px 10px
    border-radius 5px
    text-decoration none
    text-shadow 0 1px 0 rgba(0, 0, 0, .5)
    responsive serif 16px same 14px
    color white
    cursor pointer

    &.rolled-cart-button-cart, &.rolled-cart-button-preview
      border 1px solid #980000
      background-color #fc402b
      background-image linear-gradient(top, #ff8056, #f80000)
      box-shadow inset 0 1px 0 0 #ffd4c5

    &.rolled-cart-button-save
      border 1px solid #7F8F31
      background-image linear-gradient(top, #BAC56A, #8EA635)
      box-shadow inset 0px 2px 0px 0 #D8E091


@media all and (max-width: 640px)
    .rolled-cart-button
      visibility hidden

    .rolled-cart-button-cart
      visibility visible
