.title
  margin 6px 6px 3px
  phone margin-top 25px
  responsive text-align center same right
  text-shadow 0 1px 1px rgba(0, 0, 0, .5)
  responsive serif 76px same 46px
  font-weight normal
  color white
