.user
  position absolute
  top 30px
  right 20px
  text-align right

  .user-username
    line-height 22px
    text-shadow 0px 1px 0px rgba(189, 198, 115, .6)
    serif 16px
    color #3d4d07

  .user-logout
    line-height 22px
    text-decoration underline
    text-shadow 0px 1px 0px rgba(0, 0, 0, 0.50)
    serif 16px
    color white
    cursor pointer
