doctype 5
html(lang="ru")
    head
        title Кафе-бар &laquo;Барбудос&raquo;
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family=PT+Serif+Caption:400&subset=latin,cyrillic")
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700&subset=latin,cyrillic")
        link(rel="stylesheet", href="/components/normalize-css/normalize.css")
        link(rel="stylesheet", href="/styles/index.css")
        script(src="/components/modernizr/modernizr.js")
    body(data-ng-app="dishesDirective")
        block header
            .header-layout
                a.logo.logo-left(href="#!/") Кафе-бар &laquo;Барбудос&raquo;
                
                h1.title Меню
                
                nav.categories-list
                    a.button.button-ok.categories-list-item.categories-list-item-current(href="#!/") Первое
                    a.button.button-ok.categories-list-item(href="#!/") Второе
                    a.button.button-ok.categories-list-item(href="#!/") Третье

                a.about-link(href="#!/") О баре
                
                hr.header-layout-divider

        block body

        script(src="/components/angular/angular.min.js")
        script(src="/components/ftscroller/lib/ftscroller.js")
        script(src="//api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU")

        script(src="/scripts/libraries.js")
        script(src="/scripts/directives/dishes.js")
