.well.well-small(data-ng-controller="CartCtrl")
  p(data-ng-show="cart.count() > 0")
    | В вашей корзине 
    a(href="#!/cart") {{ cart.count() }}
    |  товаров

  p(data-ng-show="cart.count() == 0")
    | Ваша корзина пуста